@font-face {
    font-family: rajhdani;
    src: url("../../assets/police/Rajdhani-Regular.ttf");
}

@font-face {
    font-family: spaceGrotesk;
    src: url("../../assets/police/SpaceGrotesk-VariableFont_wght.ttf");
}