<div class="resulats mt-5 d-flex justify-content-between">
    <p>
        Résultats: <span class="mx-2"> {{ products.length }}</span>
    </p>
    <p>Trier par <i class="fa-solid fa-chevron-down"></i></p>
</div>

<div class="row">
    <ng-container *ngFor="
        let productItem of products
      " class="col-md-9">
        <div class="col-md-4">
            <div class="card my-3">
                <img routerLink="product/{{ productItem.id }}" class="card-img-top imageClick" [src]="productItem.imageUrl" alt="Card image cap" />
                <div class="bg-dark py-3 text-center">
                    <h5 class="card-title">{{ productItem.Nom_A | uppercase }}</h5>
                    <h5 class="card-title">{{ productItem.Prix | currency: "EUR" }}</h5>
                </div>
                <button class="mt-1">
                    AJOUTER AU PANIER
                </button>
            </div>
        </div>

    </ng-container>

</div>