<h1 class="fw-bold">Filtres</h1>
<div class="prix">
    <h5 class="pt-3">Prix</h5>
    <div class="slidecontainer">
        <input type="range" min="0" max="200" value="50" class="slider" id="myRange" />
        <br />
        <label for="">0€</label>
        <label for="" class="px-5 mx-5">100€</label>
    </div>
</div>

<div class="categorie">
    <div class="dropdown">
        <div class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Catégorie
        </div>
        <!-- <div class="dropdown-menu">
      <div class="dropdown-item form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault">
          BestSellers
        </label>
      </div>
      <div class="dropdown-item form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckChecked"
          checked
        />
        <label class="form-check-label" for="flexCheckChecked">
          Vetements
        </label>
      </div>
    </div> -->
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>
</div>