<section class="hero">
    <div class="title-eshop">
        <div class="container">
            <div class="title">
                <h1>Récuperez le flow de<br> Batman avec notre e-shop !</h1>
            </div>
        </div>
    </div>
    <div class="fleche">
        <div class="container_flecheDown">
            <img src="../../../assets/logos/flèche_down_header.png" alt="flèche vers le bas" width="100%" height="auto">
        </div>
    </div>
</section>
<app-cart></app-cart>
<section>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-3">
                <app-aside></app-aside>
            </div>
            <div class="col-md-3">
                <app-products></app-products>
            </div>
        </div>
    </div>
</section>