.title-eshop {
    height: 700px;
    background-image: url("../../../assets/bg/bg_1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.title {
    width: 85%;
}