<footer class="pied">
    <div class="foot-citation">
        <div class="bloc-citation">
            <div class="sect-citation">
                <div class="item-citation item-citation1"><img src="../../../assets/logos/icon_guillemets_1.png" alt="" width="25%" height="auto"></div>
                <div class="item-citation2">
                    <p class="citation">La seule façon raisonnable de vivre en ce bas monde, c'est en dehors des règles.</p>
                    <p class="cit2">The Dark Knight : Le Chevalier Noir <br>- Le Joker à Batman (2008)</p>
                </div>
                <div class="item-citation item-citation3"><img src="../../../assets/Logos/icon_guillemets_1.png" width="25%" height="auto" alt=""></div>
            </div>
        </div>
        <div class="nav-footer">
            <p class="petit-presentation"><img src="../../../assets/logos/logo_0.png" class="allLogos" alt="logo warner bros"> Ce projet respecte l’univers cinématographique des films Batman récents. Version Nolan & Snyder & Reeves</p>
            <div class="bloc-icon">
                <div class="grp-icon1">
                    <img src="../../../assets/logos/logo_1.png" id="logo_foot" alt="" class="allLogos">
                    <img src="../../../assets/logos/logo_2.png" alt="">
                    <img src="../../../assets/logos/logo_3.png" alt="" id="logo_foot" class="allLogos">
                </div>
                <div class="grp-icon2" id="survole_pied">
                    <img src="../../../assets/logos/logo_4.1.png" alt="logo facebook" id="logo_foot" class="allLogos">
                    <img src="../../../assets/logos/logo_5.png" alt="logo instagram" id="logo_foot" class="allLogos">
                    <img src="../../../assets/logos/logo_6.png" alt="logo twiter" id="logo_foot" class="allLogos">
                </div>
            </div>
        </div>
    </div>
</footer>