<!--begin section entete -->
<app-aside-right></app-aside-right>
<div class="sectionTout">
    <div class="allBorder">
        <div class="container">
            <p class="container_paragraphe">
                Au nom de ses parents assassinés, Bruce Wayne mène une guerre éternelle contre les criminels de Gotham City. Il est vengeur. Il est la nuit.
            </p>
            <h2 class="title_batman">Il est Batman.</h2>
            <div class="container_grpButton">
                <a href="#batcine">VOIR LES HEROS</a>
                <a href="#nemesis">VOIR LES ADVERSAIRE</a>
                <div class="container_flecheDown">
                    <img src="../../../assets/logos/icon_flèche_1.png" alt="flèche vers le bas">
                </div>
            </div>
        </div>
        <!--end section entete -->
        <div class="box">
            <div class="box_paragraphe" id="batcine">
                <h1>BATMAN AU CINÉMA</h1>
                <p>
                    Le personnage de Batman est un super héros de l’univers de DC Comics. Il a été créé par le dessinateur Bob Kane et le scénariste Bill Finger et apparaît pour la première fois dans le comic book Detective Comics en 1939. Batman se différencie de Superman,
                    alors héros majeur de DC, car il n’a aucun pouvoir. Il sera porté au cinema pour la première fois en 1943 par Lewis Wilson et bénéficiera de nombreux reboot, donnant l’occasion à de multiples acteurs d’interpréter l’homme chauve-souris.
                    Voici les trois derniers :
                </p>
            </div>
            <div class="box_card caherOUI">
                <div class="card-item">
                    <div class="item">
                        <img src="../../../assets/Home/Bathome2.png" alt="" width="100%" height="auto">
                        <div class="item_actor">
                            <div class="acteur">
                                <img src="../../../assets/Home/rond.png" alt="" width="40px" height="auto">
                                <h6>Robert Pattinson (2022)</h6>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-item">
                    <div class="item">
                        <img src="../../../assets/Home/Bathome3.png" alt="" width="100%" height="auto">
                        <div class="item_actor">
                            <div class="acteur">
                                <div class="acteur">
                                    <img src="../../../assets/Home/rond.png" alt="" width="40px" height="auto">

                                    <h6>Christian Bale (2006 2008 2012)</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-item">
                    <div class="item">
                        <img src="../../../assets/Home/Bathome4.png" alt="" width="100%" height="auto">
                        <div class="item_actor">
                            <div class="acteur">
                                <img src="../../../assets/Home/rond.png" alt="" width="100%" height="auto">
                                <h6>Ben Affleck 20016- 2017/2020 2023</h6>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- nemesis -->
        <div class="box" id="nemesis">
            <div class="box_paragraphe">
                <h1>NÉMÉSIS</h1>
                <p>
                    Batman souhaite éradiquer la criminalité de Gotham. C’est pourquoi, il affrontera la plupart du temps, des vilains sans capacités surnaturelles mais particulièrement violents ou psychopathes. Avec son introduction dans la Justice League il aura l’occasion
                    de se mesurer à des antagonistes qui défient l’imagination et les lois de la physique. Parmi les derniers ennemis emblématiques que nous avons pu voir au cinéma, on retrouve :
                </p>
            </div>
            <div class="box_card caherOUI">
                <div class="card-item">
                    <div class="item">
                        <img src="../../../assets/Home/Bathome5.png" alt="" width="100%" height="auto">
                        <div class="item_actor">
                            <div class="acteur">
                                <img src="../../../assets/Home/rond.png" alt="" width="40px" height="auto">
                                <h6>The Riddler Paul Dano(2022)</h6>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-item">
                    <div class="item">
                        <img src="../../../assets/Home/Bathome6.png" alt="" width="100%" height="auto">
                        <div class="item_actor">
                            <div class="acteur">
                                <div class="acteur">
                                    <img src="../../../assets/Home/rond.png" alt="" width="40px" height="auto">

                                    <h6>Le Joker Heath Ledger(2008)</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-item">
                    <div class="item">
                        <img src="../../../assets/Home/Bathome7.png" alt="" width="100%" height="auto">
                        <div class="item_actor">
                            <div class="acteur">
                                <img src="../../../assets/Home/rond.png" alt="" width="100%" height="auto">
                                <h6>Darkseid Ray Porter(2022)</h6>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- ALLES -->
        <div class="box">
            <div class="box_paragraphe">
                <h1>ALLIES</h1>
                <p>
                    Alfred est le majordome des Wayne. A leur mort il s’occupe de l’éducation du jeune Bruce avant de l’assister dans son rôle du Batman. Ce dernier rencontrera Catwoman dès le premier numéro des aventures de l’homme-chauve souris en 1940. Tantôt ennemie
                    tantôt alliée la jeune femme fatale fera tourner la tête de Batman à maintes reprises. Du côté de la police, Bruce pourra compter sur l’aide infaillible de James Gordon, “Jim , qui désire lui aussi nettoyer sa ville de la criminalité
                    qui y règne.
                </p>
            </div>
            <div class="box_card caherOUI">
                <div class="card-item">
                    <div class="item">
                        <img src="../../../assets/Home/Bathome9.png" alt="" width="100%" height="auto">
                        <div class="item_actor">
                            <div class="acteur">
                                <img src="../../../assets/Home/rond.png" alt="" width="40px" height="auto">
                                <h6>Alfred Pennyworth Michael Cain(2006 2008 2012)</h6>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-item">
                    <div class="item">
                        <img src="../../../assets/Home/Bathome8.png" alt="" width="100%" height="auto">
                        <div class="item_actor">
                            <div class="acteur">
                                <div class="acteur">
                                    <img src="../../../assets/Home/rond.png" alt="" width="40px" height="auto">

                                    <h6>Catwoman Zoé Kravitz(2008)</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-item">
                    <div class="item">
                        <img src="../../../assets/Home/Bathome10.png" alt="" width="100%" height="auto">
                        <div class="item_actor">
                            <div class="acteur">
                                <img src="../../../assets/Home/rond.png" alt="" width="100%" height="auto">
                                <h6>James Gordon(2014 2019)</h6>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Justice league -->
        <div class="box">
            <div class="box_paragraphe">
                <h1>JUSTICE LEAGUE</h1>
                <p>
                    Lorsque la Terre est menacée les plus grands super-héros s’allient pour la protéger. Ils doivent cependant apprendre à se faire confiance mutuellement et à faire équipe ce qui ne sera pas chose aisée. Ensemble ils forment la Justice League, les plus grands
                    superhéros de la Terre, ceux vers qui le monde entier se tourne lorsque les menaces extraterrestres ou surnaturelles menacent son existence.
                </p>
            </div>
        </div>
    </div>

    <div class="justiceLeague">
        <img src="../../../assets/Home/Bathome11.png" alt="" width="100%" height="auto">
    </div>
    <div class="allBorder2">
        <!-- Multimedia -->
        <div class="Mutli">
            <h1 class="txt_presentation">MULTIMÉDIA</h1>
            <div class="cart_faddin">
                <div class="controle">
                    <img src="../../../assets/Logos/icon_flèche_1.png" alt="">
                </div>
                <div class="controle">
                    <div class="cart1">
                        <img src="../../../assets/Home/Bathome_ba1.png" alt="">
                        <div class="article">
                            <h1>Action, Adventure</h1>
                            <h2>Batman Begins</h2>
                            <h3>IMDB: <span>8.2</span></h3>
                            <p>
                                Le jeune Bruce Wayne assiste impuissant au meurtre de ses parents. Profondément traumatisé, il grandit obnubilé par un désir de vengeance. La Ligue des ombres, une secte de guerriers ninja dirigée par Ra's al Ghul, se chargera de son entraînement. De
                                retour chez lui à Gotham, avec l'aide de son majordome Alfred Pennyworth, Bruce Wayne se lance alors dans la lutte contre le crime sous le nom de Batman.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="controle">
                    <img src="Logos/icon_flèche_2.png" alt="">
                </div>
            </div>
            <div class="bande_annonce">
                <img src="../../../assets/Home/Bathome_ba2.png" alt="" width="100%" height="auto">
                <img src="Logos/icon_player.png" alt="" width="100%" height="auto" class="iconPlayer">
            </div>
        </div>
    </div>
    <!-- PRENOMS CONTACT -->
    <div class="contact">
        <div class="contact-bloc">
            <form action="">
                <h1>PRENONS CONTACT</h1>
                <label for="mail" class="label1">ADDRESSE EMAIL</label>
                <input type="text" id="mail" placeholder="Addresse email">
                <h3>NEWSLETTER</h3>
                <label for="nws" class="label2">En cochant cette case vous acceptez de recevoir l’actualité concernant les
        aventures de Batman : <input type="checkbox" id="nws"></label>
                <!-- dropdown list -->
                <div class="dropdown">
                    <input type="text" class="dropdown-in" disabled placeholder="Choisissez la fréquence à laquelle vous souhaitez recevoir votre newsletter">
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
                <p>Souhaitez vous recevoir des news </p>
                <div class="btn-groupe">
                    <button class="allLogos">Des films</button><button class="allLogos">Des comics</button><button class="allLogos">De tout</button>
                </div>
                <h3>MESSAGE</h3>
                <textarea name="" id="" cols="30" rows="10" placeholder="Laissez un commentaire pour la communauté"></textarea>
                <div class="bloc-confirmer"><button class="confirmer allLogos">CONFIRMER</button></div>
            </form>
        </div>
    </div>
</div>