<header id="survole-haut">
    <nav class="link_header bg-primary">
        <div class="link_logo">
            <a><img src="../../../assets/logos/logohome.png" class="allLogos" alt="Logo home"></a>
        </div>
        <div class="link_header_grp">
            <a routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">HOME</a>
            <a routerLink="game" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">GAME</a>
            <a routerLink="eshop" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">E-SHOP</a>
            <a routerLink="moncompte" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">MON COMPTE</a>
        </div>
    </nav>
</header>