<div class="aside">
    <div class="aside-item">
        <div class="content allLogos">
            <a href="#survole-haut" class="survole"><img class="logoAside" src="../../../assets/logos/logo_bat_flèche.png" alt="flèche pour remonter en haut"></a>
        </div>
        <div class="content">
            <a href=""> <img class="logoAside effet_jaune allLogos" src="../../../assets/logos/logo_4.1.png"></a>
        </div>
        <div class="content">
            <a href=""> <img class="logoAside effet_jaune allLogos" src="../../../assets/logos/logo_5.png" alt=""></a>
        </div>
        <div class="content">
            <a href=""> <img class="logoAside effet_jaune allLogos" src="../../../assets/logos/logo_6.png" alt=""></a>
        </div>
        <div class="content">
            <a href="#survole_pied" class="survole "><img class="logoAside allLogos" src="../../../assets/logos/logo_bat_flèche_2.png" alt="flèche pour aller vers footer"></a>
        </div>
    </div>
</div>